.dnd5e.sheet.actor .skills-list > .skill > .skill-check-bonus,
.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select {
    flex: 0 0 25px;
    margin-right: 2px;
    height: 1rem;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-check-bonus {
    border: 1px gray solid;
    padding: 0;
    text-align: center;
}

.dnd5e.sheet.actor .skills-list > .skill > .skill-ability-select {
    padding: 0 2px;
    text-align-last: center;
    -moz-text-align-last: center;
    -ms-text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
    text-align: center;
}

.dnd5e.sheet.actor:not(.alt5e):not(.tidy5e) ul.skills-list {
    flex: 0 0 240px;
}

/* tidy 5e compatibility */
.tidy5e.sheet.actor .skills-list > .skill > .skill-ability-select,
.tidy5e.sheet.actor .skills-list > .skill > .skill-cust-bonus {
    height: 0.9rem;
    line-height: 0.8rem;
    font-size: 0.7rem;
    margin-top: -1px;
}
